<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Register</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}" />
    <script type=text/javascript src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
    <div class="container">
      <div class="row"></div>
      <div class="row align-items-center" style="margin-top: 15%">
        <div class="col"></div>
        <div class="col-5">
          <h1 class="display-4" style="text-align: center;">Register</h1>
          <form style="padding-left: 20px; padding-right: 20px; padding-top: 10px">
            <div class="form-group">
              <label for="exampleInputEmail1">Account</label>
              <input type="text" class="form-control" id="account" placeholder="please enter email">
            </div>
            <div class="form-group">
                <label for="username">Usename</label>
                <input type="text" class="form-control" id="username" placeholder="please enter username">
              </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="please enter password">
            </div>
            <div style="text-align: center; padding-top: 10px;">
              <button type="button" class="btn btn-primary" onclick="Register()">Register</button>
            </div>
          </form>
        </div>
        <div class="col"></div>
      </div>
      <div class="row"></div>
    </div>

    <script>
      function Register(){
        var registerdata = {
          "Account": $("#account").val(),
          "password": $("#password").val(),
          "username": $("#username").val()
        }

        $.ajax({
          url: "/register",
          type: "POST",
          data: JSON.stringify(registerdata),
          dataType: "json",
          contentType: "application/json",
          success: function(checkresult){
            if(checkresult.status == "ok"){
              next(checkresult.next)
            }
            else if(checkresult.status == "failed"){
              toastr.error("The email already exists")
            }
          }
        })
        
        function next(url){
          window.location.href = url
        }
      }
    </script>
        
    </body>
</html>